<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top justifynav navbarcenter">
        <div>
            <div class="navbar-header navbarcenter">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Postari", "Index", "Posts", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Grupuri", "Index", "Group", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Prieteni", "Friends", "User", new { area = "" }, new { @class = "navbar-brand" })
                <form class="navbar-text navbarcenter" asp-controller="User" asp-action="Search" method="get" action="/User/Search">
                    <input type="text" name="SearchString" , placeholder="Cauta utilizatori">
                    <input type="image" alt="Submit" src="~/Content/lupa.png" style="padding-left:2%" />
                </form>
            </div>
        </div>
        <div>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
