
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach (DAW_project.Models.Notification notif in ViewBag.Notifications)
{
    <div class="panel panel-default">

        @if (notif.Text != null && notif.Type == "Post")
        {
            <p>Un admin a sters o postare a dumneavoastra cu urmatorul mesaj: "@notif.Text"</p>
        }
        @if (notif.Text == null && notif.Type == "Post")
        {
            <p>Un admin a sters o postare a dumneavoastra.</p>
        }

        @if (notif.Text != null && notif.Type == "Comment")
        {
            <p>Un admin a sters un comentariu al dumneavoastra cu urmatorul mesaj: "@notif.Text"</p>
        }
        @if (notif.Text == null && notif.Type == "Comment")
        {
            <p>Un admin a sters un comentariu al dumneavoastra.</p>
        }

        <div class="panel-footer">
            <span class="label label-success">@notif.RequestTime</span>
        </div>
    </div>
    <br />
    <br />

}

<br />
<div>
    <p>Cereri de prietenie:</p>
    <br />
    @foreach (var request in ViewBag.Requests)
    {
        <a href="/User/Show/@request.User1.Id"><h2>@request.User1.FirstName @request.User1.LastName</h2></a>
        <a class="btn btn-sm btn btn-success" href="/User/AddFriend/@request.User1.Id"> Accepta Cererea </a>
        <a class="btn btn-sm btn btn-danger" href="/User/DelFriend/@request.User1.Id"> Respinge Cererea </a>
        <br /><br />
    }

</div>
