@model DAW_project.Models.Notification

@{
    ViewBag.Title = "NewGroup";
}

<h2>Care este motivul stergerii?</h2>

@using (Html.BeginForm(actionName: "NewGroup", controllerName: "Notifications"))
{
    @Html.Label("(se poate lasa si gol)")
    @Html.HiddenFor(m => m.User_Id)
    @Html.HiddenFor(m => m.Admin_Id)
    @Html.HiddenFor(m => m.Type)
    @Html.TextAreaFor(m => m.Text, new { @class = "form-control comment-area" })
    <br />
    <button class="btn btn-primary" type="submit">Trimite</button>
}