@model DAW_project.Models.Notification

@{
    ViewBag.Title = "New";
}

<h2>New notification</h2>

@using (Html.BeginForm(actionName: "NewPost", controllerName: "Notifications"))
{
    @Html.Label("Care este motivul stergerii?(se poate lasa si gol)")
    @Html.HiddenFor(m => m.User_Id)
    @Html.HiddenFor(m => m.Admin_Id)
    @Html.HiddenFor(m => m.Type)
    @Html.TextAreaFor(m => m.Text, new { @class = "form-control" })
    <br />
    <button class="btn btn-success" type="submit">Trimite</button>
}