@model DAW_project.Models.Group

@{
    ViewBag.Title = "Edit";
}

<h2>Modifica grupul</h2>

@using (Html.BeginForm(actionName: "Edit", controllerName: "Group"))
{
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.Hidden("GroupAdmin_Id")

    @Html.Label("Ce vrei sa modifici?")
    @Html.TextAreaFor(m => m.GroupName, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.GroupName, null, new { @class = "text-danger" })
    <br />
    <button class="btn btn-success" type="submit">Modifica grupul</button>
}