@model DAW_project.Models.Group

@{
    ViewBag.Title = "Show";
}

<h2>
    @Html.DisplayTextFor(m => m.GroupName)
</h2>

<h3> @ViewBag.GroupMessage</h3>

@if (Model.GroupAdmin_Id == ViewBag.utilizatorCurent || ViewBag.esteAdmin)
{
    <a class="btn btn-sm btn btn-warning" href="/Group/Edit/@Model.GroupId">Editeaza grupul</a>
    <form method="post" action="/Group/Delete/@Model.GroupId">
        @Html.HttpMethodOverride(HttpVerbs.Delete)
        <button class="btn btn-sm btn btn-danger" type="submit">Sterge grupul</button>
    </form>
}

<a class="btn btn-sm btn btn-success" href="/Group/Members/@Model.GroupId">Membri</a>
<br />

@if (ViewBag.utilizatorCurent != null) // daca este un utilizator logat
{
    <div class="container">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <div class="panel">
                    <form method="post" action="/Group/Show/@Model.GroupId">
                        <div class="panel-body">
                            <label>La ce te gandesti?</label>
                            <br />
                            <textarea class="form-control" name="Text"></textarea>
                            @Html.ValidationMessage("Text", "", new { @class = "text-danger" })
                            <br />
                            <button class="btn btn-success " type="submit">Adauga postare</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
}

<div>
    @foreach (DAW_project.Models.Post post in ViewBag.Posts)
    {
        <div class="panel panel-default">
            @Html.Partial("PostInfo", post)
            <div class="panel-footer">
            <a class="btn btn-sm btn btn-success" href="/Posts/Show/@post.PostId"> Afisare postare</a>
             </div>
        </div>
    }
</div>


