@model DAW_project.Models.Post

@{
    ViewBag.Title = "Edit";
}

<h2>Ce modificari vrei sa faci?</h2>


@using (Html.BeginForm(actionName: "Edit", controllerName: "Posts"))
{
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.Hidden("UserId")
    
    @Html.TextAreaFor(m => m.Text, new { @class = "form-control comment-area" })
    @Html.ValidationMessageFor(m => m.Text, null, new { @class = "text-danger" })
    <br />
    <button class="btn btn-primary" type="submit">Modifica postarea</button>
}