@model DAW_project.Models.Post

@{
    ViewBag.Title = "Show";
}


<br /> <br /> <br />

<h3>@ViewBag.PostMessage</h3>

<div class="panel panel-default">
    @Html.Partial("PostInfo", Model)
    @if (Model.UserId == ViewBag.utilizatorCurent || ViewBag.esteAdmin)
    {
        <div class="panel-footer">
            @if ((Model.UserId == ViewBag.utilizatorCurent && Model.Group == null) || Model.UserId == ViewBag.utilizatorCurent && ViewBag.esteInGrup == 1)
            {
                <a class="btn btn-sm btn btn-primary" href="/Posts/Edit/@Model.PostId">Modifica postarea</a>
            }
            @if (Model.UserId == ViewBag.utilizatorCurent || ViewBag.esteAdmin)
            {
                <form method="post" action="/Posts/Delete/@Model.PostId" class="go-right">
                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                    <button class="btn btn-sm btn btn-danger" type="submit">Sterge postarea</button>
                </form>
            }
        </div>
    }
</div>



<h3>@ViewBag.CommMessage</h3>

<br />
@foreach (var comm in Model.Comments)
{
<div id="comments" class="panel-comment panel ">
    <div class="speech-bubble">
        <a href="/User/Show/@comm.UserId"><i class="glyphicon glyphicon-user"></i> <strong class="clear-link "> @comm.User.FirstName @comm.User.LastName</strong></a>
        <span class=" date-label">@comm.Date.ToString("dd.MM.yyyy") la @comm.Date.ToString("HH:mm")</span>
        <div style="padding-top: 2%">@comm.Text</div>



    </div>
    @if(comm.UserId == ViewBag.utilizatorCurent || ViewBag.esteAdmin || ViewBag.utilizatorCurent == Model.UserId)
    {
    <div class="panel-footer">
        @if ((comm.UserId == ViewBag.utilizatorCurent && Model.Group == null) || comm.UserId == ViewBag.utilizatorCurent && ViewBag.esteInGrup == 1)
        {
            <div style="display: inline-block; margin-right: 15px">
                <a class="glyphicon glyphicon-pencil" href="/Comments/Edit/@comm.CommentId"></a>
            </div>
        }


        @if (comm.UserId == ViewBag.utilizatorCurent || ViewBag.esteAdmin || ViewBag.utilizatorCurent == Model.UserId)
        {
            <div style="display: inline-block">

                <form method="post" action="/Comments/Delete/@comm.CommentId">
                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                    <button class="glyphicon glyphicon-trash" style="border: none; background: transparent" type="submit"></button>
                </form>
            </div>
        }
    </div>
    }
    
</div>
    <hr class="linie-footer" />
}

@if ((ViewBag.utilizatorCurent != null && Model.Group == null) || ViewBag.esteInGrup == 1) // daca este un utilizator logat
{
                    <form method="post" action="/Posts/Show/@Model.PostId">
                        
                            <input type="hidden" name="PostId" value="@Model.PostId" />
                            <textarea class="form-control comment-area" name="Text"></textarea>
                            @Html.ValidationMessage("Text", "", new { @class = "text-danger" })
                            <br />
                            <button class="btn btn-primary" type="submit">Adauga comentariu</button>
                    </form>

}


