@model DAW_project.Models.Post

@{
    ViewBag.Title = "Show";
}


<br /> <br /> <br />

<h3>@ViewBag.PostMessage</h3>

<div class="panel panel-default">
    @Html.Partial("PostInfo", Model)
</div>

@if ((Model.UserId == ViewBag.utilizatorCurent && Model.Group == null) || Model.UserId == ViewBag.utilizatorCurent && ViewBag.esteInGrup == 1)
{
    <a class="btn btn-sm btn btn-warning" href="/Posts/Edit/@Model.PostId">Modifica postare</a>
    <br /><br />
}
@if(Model.UserId == ViewBag.utilizatorCurent || ViewBag.esteAdmin)
{
    <form method="post" action="/Posts/Delete/@Model.PostId">
        @Html.HttpMethodOverride(HttpVerbs.Delete)
        <button class="btn btn-sm btn btn-danger" type="submit">Sterge postarea</button>
    </form>
}

<h3>@ViewBag.CommMessage</h3>

<br />
@foreach (var comm in Model.Comments)
{
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div>
                    <p>@comm.Text</p>
                    <small class="pull-right label label-success">@comm.Date</small>
                    
                        <i class="glyphicon glyphicon-user"></i> <a href="/User/Show/@comm.UserId"><strong> @comm.User.FirstName @comm.User.LastName</strong></a>
                    
                </div>
                @if ((comm.UserId == ViewBag.utilizatorCurent && Model.Group == null) || comm.UserId == ViewBag.utilizatorCurent && ViewBag.esteInGrup == 1)
                {
                    <div style="display: inline-block; float : left; margin-right: 15px">
                        <a class="glyphicon glyphicon-pencil" href="/Comments/Edit/@comm.CommentId"></a>
                    </div>
                }

                @if (comm.UserId == ViewBag.utilizatorCurent || ViewBag.esteAdmin || ViewBag.utilizatorCurent == Model.UserId)
                {
                    <div style="display: inline-block; float : left">

                        <form method="post" action="/Comments/Delete/@comm.CommentId">
                            @Html.HttpMethodOverride(HttpVerbs.Delete)
                            <button class="glyphicon glyphicon-trash" style="border: none; background: transparent" type="submit"></button>
                        </form>
                    </div>
                }
                </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <hr />
}

@if ((ViewBag.utilizatorCurent != null && Model.Group == null) || ViewBag.esteInGrup == 1) // daca este un utilizator logat
{
    <div class="container">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <div class="panel">
                    <form method="post" action="/Posts/Show/@Model.PostId">
                        <div class="panel-body">
                            <input type="hidden" name="PostId" value="@Model.PostId" />
                            <label>Continut comentariu</label>
                            <br />
                            <textarea class="form-control" name="Text"></textarea>
                            @Html.ValidationMessage("Text", "", new { @class = "text-danger" })
                            <br />
                            <button class="btn btn-success " type="submit">Adauga comentariu</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
}


